<div style="width:100%;background-color:#DDDDDD;padding:25px 0">
<center>
<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="background-color:#DDDDDD">
<tbody>
        <tr>
                <td align="center" valign="top" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateHeader" style="background-color: #000000;border-bottom: 0;padding: 0px;">
              <tbody>
              <tr>
                  <td class="headerContent" style="border-collapse: collapse;color: #6A5C52;font-family: Georgia;font-size: 14px;font-weight: normal;line-height: 100%;text-align: left;vertical-align: top;">
                  <div style="text-align: center;">
                        <img src="https://lh4.googleusercontent.com/-3TZKIu8bNZY/T06m6dAY-8I/AAAAAAAAEK8/gBE3_QxlJPI/s580/cabezote-alpina-desea.png" alt="Cumplea&ntilde;os en Alpina" title="Cumplea&ntilde;os en Alpina" width="580" height="269"/>
                   </div>                                            
                   </td>
               </tr>
           </tbody></table>
       </td>
   </tr>
        <tr>
        <td align="center" valign="top" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateBody">
                <tbody>
                        <tr>
                  <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFFFFF;">
                      <table border="0" cellpadding="20" cellspacing="0" width="100%">
                          <tbody>
                                <tr>
                              <td valign="top" style="border-collapse: collapse;">
                                  <div style="color: #6A5C52;font-family: Georgia;font-size: 14px;line-height: 150%;text-align: left;">
                                              <p>En este d&iacute;a tan importante y especial queremos felicitarte y desearte muchos &eacute;xitos, oportunidades y logros en tu vida personal y laboral y que todo aquello que te propongas, anheles y desees se cumpla.</p>
                                              <p>Que tengas un gran d&iacute;a querido Alpinista.</p>
                                              </div>
                                                                </td>
                                </tr>
                                </tbody>
                       </table>                                                
                  </td>
                 </tr>
                <tr>
                        <td background="#FAFAFA" valign="top" class="bodyContent" style="background-color: #FAFAFA;border-collapse: collapse;">
                                </td>
               </tr>
           </tbody>
        </table>
       </td>
   </tr>
<tr>
        <td align="center" valign="top" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                <tbody><tr>
                <td align="center" valign="top" style="border-collapse: collapse;">
                    <img src="https://lh5.googleusercontent.com/-KS_xwM03pQ0/T06m8sZwQZI/AAAAAAAAELE/LIUnhqvqe1M/s599/cake2_lowerend.png" alt="Happy Birthday!" title="Happy Birthday!" width="600" height="330"></td>
              </tr>
                <tr>
                <td valign="top" class="footerContent" style="border-collapse: collapse;">
                      <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tbody><tr>
                              <td colspan="2" valign="middle" id="social" style="border-collapse: collapse;background-color: #273194;">
                                    
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody>
</table>
</center>
</div>