{% load dojango_base %}
{% set_dojango_context %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="ltr">
    <head>
    <title>{% block title %}{% endblock %} - CloudBDay Gadget</title>
    {% include "dojango/include.html" %}
    {% block preload_js %}{% endblock %}
    {% block extra-head %}{% endblock %}
	{% block css %}
    <link type="text/css" rel="stylesheet" href="/media/css/screen.css">
    <link type="text/css" rel="stylesheet" href="/media/css/gadgets.css"> 
    {% endblock %}  
    </head>
    <body class="{{ DOJANGO.THEME }}" style="background-color: transparent;">
    {% block content %}{% endblock %}
	{% block js %}{% endblock %}
    </body>
</html>