{% extends 'base.html' %}
{% block title %}General Settings{% endblock %}
{% block css %}
<style type="text/css">
    @import url({{ DOJANGO.DOJOX_URL }}/form/resources/BusyButton.css);
    @import url({{ DOJANGO.DOJOX_URL }}/form/resources/ListInput.css);
</style>
{% endblock %}
{% block content %}
<p>
  <button id="clearCache" dojoType="dojox.form.BusyButton" 
                label="Clear Cache" busyLabel="Clearing cache..." timeout="10000">Clear Cache</button>
</p>
<h1>General Settings</h1>
<label class=required>Required field</label>
<form dojoType="dijit.form.Form" id="formSettings" method="post">
  {{form.as_p}}
  <button id="submitSetup" type="submit" dojoType="dojox.form.BusyButton" 
                label="Submit" busyLabel="Saving changes..." timeout="10000">Submit</button>
  
</form>
{% endblock %}
{% block js %}
<script type="text/javascript">
	dojo.require("dijit.form.Form");
	dojo.require('dojox.form.BusyButton');
	dojo.require("dojox.validate.regexp");
	
	dojo.addOnLoad(function(){
		dojo.connect(dijit.byId('submitSetup'), "onClick", function(){
            dijit.byId('formSettings').submit();
        });
		dojo.connect(dijit.byId('formSettings'), "onSubmit", function(){
			console.log('Sending setup form to the server');
		    if(dijit.byId('formSettings').validate()){
		        return true;
		    } else {
		        alert("Your form is not valid.");
		        dijit.byId('submitSetup').cancel();
                return false;
		    }
		    return false;
		});
		dojo.connect(dijit.byId('clearCache'), "onClick", function(){
			dojo.xhrPost({
				url:'{% url clear_cache domain %}',
				load: function (response, ioArgs) {
						if (ioArgs.xhr.status == 200) {
	                        alert('Cache cleared.');
							dijit.byId('clearCache').resetTimeout();
	                    } else {
	                        alert("There were problems clearing the cache. Please try again");
	                    }
                },
                error: function(data) {
                    alert("There were problems clearing the cache. Please try again");
                }	
			});
        });
	});
</script>
{% endblock %}