{% extends "dojango/base.html" %}
{% block title %}Eforcers CloudBDay{% endblock %}
{% block dojango_header_extra %}
{{block.super}}
	<style type="text/css">
          #overlay { 
          	width:100%; height:100%; margin:0; padding:0;
		  	background:#fff url('http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojox/image/resources/images/loading.gif') no-repeat center center;
    		position:absolute;
    		z-index:999;
          }
    </style>

    <script type="text/javascript">
    	dojo.require("dijit.dijit");
    	dojo.require("dijit.form.Form");
    	dojo.require("dijit.form.ValidationTextBox");
        dojo.require("dijit.Dialog");
        dojo.require("dijit.layout.TabContainer");
        dojo.require("dojox.form.BusyButton");
        dojo.require("dojox.validate.regexp");

        dojo.addOnLoad( function(){
            dojo.fadeOut({
                  node: "overlay",
                  duration: 300,
                  onEnd: function(){ 
                         dojo.style("overlay", "display", "none");
                  }
            }).play();

            dijit.byId("dialogOne").show();
            
            dojo.connect(dijit.byId('formDomain'), "onSubmit", function(){
                console.log('Sending domain form to the server');
                if(dijit.byId('formDomain').validate()){
                    return true;
                } else {
                    dijit.byId('submitDomain').cancel();
                    return false;
                }
                return true;
            });
            dojo.connect(dijit.byId('submitDomain'), "onClick", dijit.byId('formDomain'), "submit");
      });
	</script>	
{% endblock %}
{% block dojango_content %}
	<div id="overlay"></div>
<div class="main">
	<div id="dialogOne" dojoType="dijit.Dialog" title="Eforcers CloudBDay" draggable="false" closable="false">
	    <div dojoType="dijit.layout.TabContainer" style="width: 450px; height: 300px;">
	        <div dojoType="dijit.layout.ContentPane" title="Access">
	            <p align="center">
	            	 In order to continue you must enter your Google Apps domain.
	            </p>
	            <form dojotype="dijit.form.Form" id="formDomain" action="{% url login %}" method="GET">
	                <script type="dojo/method" event="onSubmit">
                        if (this.validate()) {
                            return true;
                        }
                        return false;
                    </script>
	            	<p align="center">
		            	<input  type="text" id="domain" name="domain" size="40" class="appsTextbox" 
		            	dojoType="dijit.form.ValidationTextBox"
						regExpGen="dojox.validate.regexp.host"
						required="true">
		            	<br/>&nbsp;<br/>
		            	<button id="submitDomain" type="submit" dojoType="dojox.form.BusyButton" 
                            label="Continue &raquo;" busyLabel="Sending domain..." timeout="10000">Continue &raquo;</button>		            	
	            	</p>
	            </form>	            
	        </div>
	        <div dojoType="dijit.layout.ContentPane" title="About">
	            <p align="center">
	                <strong>Eforcers CloudBDay</strong> 
					<a href="http://www.eforcers.com" target="_blank">www.eforcers.com</a>
				</p>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}