
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */

/*******************BASE*****************/
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    background: url(/static/img/signature-back.png) 90% 63px, url(/static/img/back-footer.png) center bottom;
    background-repeat: no-repeat;
    margin: 0px;
    min-height: 100%;
}

#footer {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 11px;
    padding: 100px 0px 50px 0px;
    background: transparent;
}

.clear {
    clear: both;
    width: 100%;
}

/*******************WRAPZERO******************/

#wrapzero {
    width: 100%;
    margin-top: 40px;
    background-image: url(/static/img/land_head_back.png);
    background-position: bottom center;
    background-repeat: repeat-x;
    height: 270px;
}

#wrapzerocontent {
    width: 940px;
    margin: 0 auto;
    padding: 0px 10px;
}

#wrapzerocontentdesc {
    float: left;
    width: 220px;
    margin: 10px 0 0 340px;
    color: #fff;
}

#wrapzerocontentlogo {
    width: 300px;
    text-align: right;
    float: left;
}

#wrapzerocontenttitle {
    width: 620px;
    float: right;
    font-size: 99px;
    letter-spacing: -5px;
    color: #fff;
    font-weight: 100;
    line-height: 207px;
}

/*******************WRAPONE******************/

#wrapone {
    width: 960px;
    margin: 0 auto;
    margin-top: 52px;
}

#header {
    margin: 10px;
}

#logotool {
    width: 380px;
    height: 192px;
    float: left;
    margin-right: 20px;
    text-align: center;
    padding-top: 5px;
}

#warning {
    width: 300px;
    float: left;
    padding: 20px;
    background-color: #e1e1e1;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 45px;
}

#warningimage {
    width: 35px;
    margin-right: 20px;
    float: left;
}

#warningtext {
    float: left;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 700;
}

/*******************WRAPTWO******************/

#wraptwo {
    background-image: linear-gradient(bottom, rgb(255, 255, 255) 44%, rgb(230, 230, 230) 72%);
    background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 44%, rgb(230, 230, 230) 72%);
    background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 44%, rgb(230, 230, 230) 72%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 44%, rgb(230, 230, 230) 72%);
    background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 44%, rgb(230, 230, 230) 72%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(255, 255, 255)), color-stop(0.72, rgb(230, 230, 230)));
    background-position: center top;
    padding-top: 30px;
}

#warning {
    width: 300px;
    float: left;
    padding: 20px;
    background-color: #e1e1e1;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 45px;
}

#warningimage {
    width: 35px;
    margin-right: 20px;
    float: left;
}

#warningtext {
    float: left;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 700;
}

/*******************CONTENT-LANDING******************/

#content {
    width: 940px;
    min-height: 230px;
    margin: 0 auto;
    margin-top: -70px;
    padding: 10px;
}

#welcome {
    width: 300px;
    float: left;
    margin-right: 20px;
}

#landlogin {
    width: 580px;
    float: left;
    padding: 20px;
    margin-top: 60px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-image: linear-gradient(bottom, rgb(222, 0, 148) 32%, rgb(196, 0, 108) 66%);
    background-image: -o-linear-gradient(bottom, rgb(222, 0, 148) 32%, rgb(196, 0, 108) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(222, 0, 148) 32%, rgb(196, 0, 108) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(222, 0, 148) 32%, rgb(196, 0, 108) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(222, 0, 148) 32%, rgb(196, 0, 108) 66%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(222, 0, 148)), color-stop(0.66, rgb(196, 0, 108)));
}

#welcome h1, font#welcome {
    color: #4d4d4d;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: normal;
}

div#landlogin input {
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 435px;
    float: left;
    margin-top: 1px;
}

div#landlogin button {
    float: right;
    width: 120px;
    font-family: 'Open Sans', serif;
    background-image: linear-gradient(bottom, rgb(0, 96, 170) 19%, rgb(0, 145, 255) 60%);
    background-image: -o-linear-gradient(bottom, rgb(0, 96, 170) 19%, rgb(0, 145, 255) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(0, 96, 170) 19%, rgb(0, 145, 255) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(0, 96, 170) 19%, rgb(0, 145, 255) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(0, 96, 170) 19%, rgb(0, 145, 255) 60%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(0, 96, 170)), color-stop(0.6, rgb(0, 145, 255)));
    border: none;
    color: #fff;
    font-weight: 700;
    margin-top: 1px;
    min-height: 30px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#price {
    float: left;
    padding: 20px;
    padding-bottom: 0px;
    width: 580px;
    margin-top: 40px;
}

#pricetitle {
    float: left;
    width: 140px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #E7459F;
}

#pricecontent {
    float: left;
}

.titlewrap {
    width: 100%;
}

.title {
    display: inline;
    color: #4d4d4d;
    font-family: 'Open Sans', serif;
    font-size: 18px;
    font-weight: 700;
}

.titledecoration {
    background-color: #b3b3b3;
    width: auto;
    height: 1px;
}

.colum {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}

.lastcolum {
    width: 300px;
    float: left;
    margin-top: 15px;
}

#footercontainer {
    margin: 0 auto;
    width: 960px;
    padding: 0px 10px;
}